.testimonial__container{
    width: 750px;
}
.testimonial__card{
    background-color: rgba(255,255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    position: relative;
    margin-bottom: var(--mb-3);
    overflow: hidden;
    box-shadow: var(--box-shadow-btn);
}
.card1{
    display: flex;
}

.testimonial__img{
    width: 100px;
    border-radius: 100%;
    margin-right: var(--mb-1);
    height: 100px;

}
.testimonial__name{
    font-size: var(normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}
.testimonial__description{
    font-size: var(--small-font-size);
}

/* swiper class */
.swiper-pagination-bullet{
    background-color: var(--text-color);
  
}
.swiper-pagination-bullet:active{
    background-color: var(--text-color);
   
}
@media screen and (max-width:992px) {
    .testimonial__container{
        width: initial;
    }
    .testimonial__card{
        padding: 1.25rem 1.5rem;
    }
    
  }
  
@media screen and (max-width:700px) {
    .testimonial__container{
        width: 100%;
    }
    .card1{
        flex-direction: column;
    }
    .text{
        padding: 10px 0 10px 0;
    }
 
    .testimonial__card{
        padding: 2rem 1.5rem;
    }
    
  }
  